.product-details {
  transition: height 0.5s ease;
}

.hidden-others {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

/* Variables de color */
.recibir {
  font-size: 30px;
  font-weight: bold;
}
:root {
  --verde-azulado: #5eb6a7;
  --rosa: #f7a9a8;
  --morado-claro: #e6d4e7;
  --blanco: #ffffff;
}

/* General */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--verde-azulado);
  color: var(--blanco);
}

header {
  background-color: var(--morado-claro);
  color: var(--rosa);
  padding: 1em;
  text-align: center;
  border-bottom: 3px solid var(--rosa);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

header nav a {
  color: var(--rosa);
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
  text-align: center;
}

main h1,
h2 {
  color: var(--rosa);
}

.boton {
  display: inline-block;
  background-color: #ffd140;
  color: #000;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

.boton:hover {
  background-color: var(--morado-claro);
  color: var(--verde-azulado);
}

footer {
  text-align: center;
  padding: 1em;
  background-color: var(--morado-claro);
  color: var(--rosa);
  border-top: 3px solid var(--rosa);
}

/* Contacto */
.contacto {
  background: var(--verde-azulado);
  color: var(--blanco);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.info-contacto {
  text-align: center;
  margin-bottom: 2em;
}

.info-contacto h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: var(--rosa);
}

.info-contacto p {
  font-size: 1.2em;
  line-height: 1.5;
}

.redes-sociales {
  text-align: center;
  margin: 2em 0;
}

.redes-sociales h3 {
  font-size: 2em;
  color: var(--rosa);
  margin-bottom: 1em;
}

.iconos-redes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.iconos-redes a img {
  width: 50px;
  transition: transform 0.3s ease;
}

.iconos-redes a img:hover {
  transform: scale(1.2);
}

.formulario {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--blanco);
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.formulario h3 {
  font-size: 2em;
  margin-bottom: 1em;
  color: var(--rosa);
  text-align: center;
}

.formulario label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.5em;
  color: var(--rosa);
}

.formulario input,
.formulario textarea {
  width: 90%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid var(--morado-claro);
  border-radius: 10px;
  font-size: 1em;
  color: var(--morado-claro);
  background-color: var(--verde-azulado);
  outline: none;
  transition: border-color 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: var(--rosa);
}

.boton-form {
  display: inline-block;
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  color: var(--blanco);
  background-color: var(--rosa);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.boton-form:hover {
  background-color: var(--morado-claro);
  color: var(--verde-azulado);
}

/* Adaptación para dispositivos pequeños */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    gap: 10px;
  }

  main {
    padding: 1em;
  }

  .boton {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .redes-sociales a img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .boton {
    width: 100%;
    padding: 15px;
  }

  .redes-sociales {
    flex-direction: column;
    gap: 15px;
  }
}
/* Productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 2em;
}

.producto {
  border: 4px solid var(--rosa);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--morado-claro);
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: scale(1.05);
}

/* Estilo general para todas las imágenes de producto */
.imagen-producto {
  max-width: 100%; /* Se adapta al ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  margin-bottom: 15px;
}

/* Opcional: Ajustes específicos para diferentes tamaños de pantalla */
@media (min-width: 768px) {
  .imagen-producto1 {
    max-width: 500px; /* Tamaño máximo para pantallas más grandes */
  }

  .imagen-producto2 {
    max-width: 285px;
  }
  .imagen-producto3 {
    max-width: 450px;
  }
}

@media (max-width: 768px) {
  .imagen-producto1,
  .imagen-producto2,
  .imagen-producto3 {
    max-width: 100%; /* Ocupan todo el ancho disponible en pantallas pequeñas */
  }
}

.detalle-producto {
  text-align: center;
}

.detalle-producto h2 {
  color: var(--rosa);
  font-size: 1.2em;
}

.detalle-producto p {
  margin: 10px 0;
  color: var(--verde-azulado);
  font-weight: bold;
}

/* Estructura general para sticky footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body siempre ocupe toda la altura de la ventana */
  margin: 0;
}

main {
  flex: 1; /* El contenido principal ocupará el espacio disponible */
}

footer {
  text-align: center;
  padding: 1em;
  background-color: var(--morado-claro);
  color: var(--rosa);
  border-top: 3px solid var(--rosa);
}

/* Fondo dinámico */
body {
  background: var(--verde-azulado);
  color: var(--blanco);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Bienvenida */
.bienvenida {
  text-align: center;
  padding: 1em 1em;
  margin: 2em auto;
  border-radius: 5px;
}

.bienvenida h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: var(--rosa);
  animation: fadeIn 1.5s ease-in-out;
}

.bienvenida p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.boton {
  padding: 15px 30px;
  background-color: var(--rosa);
  color: var(--blanco);
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.boton:hover {
  background-color: var(--blanco);
  color: var(--rosa);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Razones destacadas */
.destacados {
  text-align: center;
  padding: 2em;
}

.destacados h3 {
  font-size: 2em;
  margin-bottom: 1em;
  color: var(--rosa);
}

.razones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.razon {
  max-width: 300px;
  text-align: center;
  padding: 1em;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.razon:hover {
  transform: translateY(-10px);
}

.razon img {
  width: 150px;
  margin-bottom: 1em;
}

.razon h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: var(--rosa);
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hidden {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.product-details {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.product-details.hidden {
  height: 0;
  opacity: 0;
}

.product-details:not(.hidden) {
  height: auto;
  opacity: 1;
}

.product-details ul {
  text-align: left;
  list-style-type: disc;
  margin: 15px auto;
  padding-left: 25px;
  color: var(--verde-azulado);
  background: var(--blanco);
  border-radius: 10px;
  padding: 10px;
}

.product-details blockquote {
  background: var(--morado-claro);
  padding: 10px;
  margin: 15px auto;
  border-left: 4px solid var(--rosa);
  font-style: italic;
}

/* Aplica un margen superior al segundo botón (o a cualquier botón que vaya después de otro botón) */
.boton + .boton {
  margin-top: 1rem; /* Ajusta a tu gusto */
}

.toggle-details {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--rosa);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--blanco);
  transition: background-color 0.3s ease;
}

.toggle-neutral:hover {
  background-color: var(--verde-azulado);
}
.toggle-neutral {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--rosa);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--blanco);
  transition: background-color 0.3s ease;
}

.toggle-details:hover {
  background-color: var(--verde-azulado);
}
@media (max-width: 768px) {
  .producto {
    max-width: 90%; /* Reduce el ancho de los cuadros */
    padding: 10px; /* Reduce el espacio interno */
  }

  .imagen-producto {
    width: 90%; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 10px;
  }

  .detalle-producto h2 {
    font-size: 1rem; /* Reduce el tamaño de los encabezados */
  }

  .detalle-producto p {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
  }

  .boton {
    padding: 0.6rem 1rem; /* Reduce el tamaño de los botones */
    font-size: 0.9rem;
  }
}
/* Formato mejorado para detalles */
.parrafo {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1.5em;
  color: var(
    --verde-azulado
  ); /* Asegúrate de usar una variable existente o define un color */
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: var(--rosa); /* Ajusta según tu paleta de colores */
}

ul {
  list-style-type: disc;
  margin: 1em 2em; /* Ajusta los márgenes para dar espacio alrededor */
  padding: 0;
}

ul li {
  margin-bottom: 0.8em;
  line-height: 1.5;
  color: black; /* O utiliza otro color según tu diseño */
}

b {
  font-weight: bold;
  color: black; /* Usa un color destacado para enfatizar el texto */
}

b b {
  color: red;
}

/* Ajustes para imágenes en pantallas pequeñas */
@media (max-width: 768px) {
  .imagen-producto3 {
    max-width: 90%; /* Limita el ancho al 90% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
  }
}

@media (max-width: 480px) {
  .imagen-producto3 {
    max-width: 80%; /* Aún más pequeño en pantallas muy pequeñas */
    height: auto; /* Mantiene la proporción */
  }
}
.imagen-producto1,
.imagen-producto2,
.imagen-producto3 {
  border-radius: 10px;
}
p {
  color: black;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--blanco);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}

p b {
  text-align: justify;
}

#popupQuiz {
  background-color: #e6d4e7 !important;
}
